**/.git
**/.gitignore
**/.vscode
**/.idea
**/.vs
**/bin
**/obj
**/Logs
**/*.log
**/.DS_Store
**/node_modules
**/.env
**/.env.*
**/docker-compose*.yml
**/Dockerfile*
**/*.md
!README.md
**/charts
**/secrets.yml
**/.dockerignore
**/.github
**/LICENSE
**/.editorconfig
